<%- include('../header.ejs') %>
<%- include('../navigation.ejs') %>
<main>
    <div class="container">

        <div class="page-header">

            <h1><span class="header-subtext">Trading Post</span><%= helpers.capitalizeWords(header) %></h1>
            <%- include('./trades-subnav.ejs') %>
        </div>

        <% if (user) { %>

            <% if (!user.contact.twitter && !user.contact.instagram && !user.contact.discord) { %>
                <h3 class="warning">You do not have a user contact method, go to your <a href="/profile">profile</a> and
                    add one.<br>
                    <small>You will not be able to see accepted trades contact information unless you share a common
                        messaging platform.
                    </small>
                </h3>
            <% } %>

            <h2><%= A %></h2>

            <div class="item-list-builder"></div>
<hr>
            <h2><%= B %></h2>

            <div class="item-list-builder"></div>
            <br>
            <div class="grid grid-3">
                <div class="item" style="padding:10px;">
                    <div class="flex flex-row align-center">
                        <input type="number" id="trade-request-bells" class="grow" name="bells"
                               placeholder="Bells (optional)"><span>&nbsp;Bells</span></div>
                </div>
                <div class="item" style="padding:10px;">
                    <div><input type="checkbox" id="trade-request-negotiable" name="negotiable" style="width:auto;">
                        Negotiable? (Members will be able to suggest alternate Payment)
                    </div>
                </div>
                <div class="item" style="padding:10px;">
                    <div><input type="checkbox" id="trade-request-touch" name="touch" style="width:auto;"> Touch Trade /
                        Cataloging?
                    </div>
                </div>
            </div>
            <br>
            <textarea id="trade-request-notes" placeholder="Trade Notes"></textarea>
            <button class="btn primary" onclick="submitItemListBuilderOffer(this)">Submit Sell Offer</button>
        <% } %>

        <% if (!user) { %>

            <h2>Only VillagerClub Members can Post Items/Villagers for Sale.</h2>

            <h3>How it Works:</h3>
            <ul>
                <li><strong>In Game Trading Only.</strong></li>
                <li><strong>You select what you want to sell.</strong><br/>You can choose Villagers, Items, and even
                    variations of Items.
                </li>
                <li><strong>Touch Trading or Full Sell</strong><br/>Touch Trading / Cataloging is a way to gain access
                    to
                    new items through the Nook Catalog by picking up a player's items and then dropping them back to
                    them.
                </li>
                <li><strong>What are you looking for?</strong><br/>You can specify exactly what Items or Villagers
                    you're looking for, or, you can leave a note and let players make their own offers.
                </li>
            </ul>

            <div style="padding-top:30px;">
                <%- include('../membership-perks.ejs') %>
            </div>
        <% } %>

    </div>

</main>
<%- include('../site-footer.ejs') %>
<%- include('../footer.ejs') %>