<%- include('../header.ejs') %>
<%- include('../navigation.ejs') %>
<main>
    <div class="container">

        <div class="page-header">
            <h1><span class="header-subtext">Blog</span><%= header %></h1>
                <cite>Written by Erin on May 25, 2020. Find her blog <a href="https://medium.com/@dudethatserin">here</a>.</cite><br><br>
            <p>
            Animal Crossing has taken the world by storm with their newest release of New Horizons for the Nintendo Switch. It can be tough not to get caught up in the hype and purchase it whether or not you have the money. Let’s say you didn’t get caught in the hype, and you are waiting to make the decision. Well, I hope to help you out with making this decision.
            </p><p>
            There are a few things you have to think about before you purchase the game:
                <ul>
           <li> Do you already own a Nintendo Switch or a Nintendo Switch Lite?</li>
                <li>Do you want a physical copy or digital copy?</li>
                <li>Do you have Nintendo Switch Online?</li>
            </ul>
            </p><p>
            Those are the first things that come to mind when I think about whether or not I want to purchase a game for the switch. In my household, we have the Nintendo Switch & Switch Lite, so the purchase of the game was just the $59.99 USD + taxes, so about $65 USD in total.
            If you don’t own the switch, you would need to purchase one and add the cost of the game on top of the purchase so it could range from $250 USD - $450 USD depending on the switch you purchase. That is for this single game and the switch. Price could go higher if you wanted more games.
            </p><p>
            Once I decide to purchase the Switch/Switch Lite, I try to determine if I want the digital copy of the game or a hard copy. There are benefits and downfalls to both, which I will go over next.
            </p><p>
            Pros & Cons of having a Hard Copy Nintendo Switch game
            I’ll go over the pros in a quick bullet point format and then expand the bullet points. After that, I will go over the cons in the same fashion.
           <ul> <li>You get the feeling of swapping cartridges like previous Nintendo Consoles. I’ll call this nostalgia.</li>
                <li>You can share games with your friends easily as all the save game data is stored on the Switch Console regardless.</li>
                <li>You can resell games you don’t often play and purchase cheaper versions on Craigslist/eBay/Facebook Marketplace/etc.</li>
                <li>You can get limited-run memorabilia like statues, stickers, art books, and soundtracks.</li>
            </ul>
            </p><p>
            I love the feeling of being able to swap out my cartridges between games or consoles. It makes me nostalgic, and it makes the switch feel like an older Nintendo Console. It is also nice to be able to display the boxes if you are a collector. In addition to showing the game cases, you can also show the limited-run memorabilia which you can rarely get with digital copies of the game.
            </p><p>
            The next bullet point goes over, being able to share games between family/friends. I’ll go over this one in more detail in the cons of digital copies as, while this is a positive of hard copies of games, it is also a con of digital copies of games.
            </p><p>
            The last bullet point above goes over being able to purchase discounted games from online, brick-and-mortar stores, and reselling games, you don’t want/don’t play. Once you buy a digital copy of a game, it is yours forever. You can’t resell it. Whereas with a hard copy of the game, you can resell it, and someone else can use it, and you don’t lose as much money on the purchase over the lifetime of the game.
            You can also find more discounts on games you intend to purchase when you go hard copy versus digital as Nintendo controls the cost of the digital games, and while they do go on sale, it isn’t as much.
            </p><p>
            This is good, but there are a few cons to having the hard copy of the game:
            <ul><li>The cartridges can get damaged and become unable to be played.</li>
                <li> You can lose them, which means you can’t play the game without repurchasing it.</li>
                <li>You have to carry them around if you want to play more than one game, and you'll have to physically swap them every time you want to change games.</li>
                <li> If you are lazy, like me, you have to wait to make a trip to the store to pick one up or wait for shipping to deliver the game to you.</li>
            </ul>
            </p><p>
            The first point I made about the cartridges being able to get damaged is what worries me the most. I have had my Nintendo64, Gameboy, DS, 3DS, etc. games get damaged by switching them in and out of the console (and from being a child). Then I’d have a game cartridge that just wouldn’t work and, personally, I believe that is more depressing than having to repurchase the game because you can’t share it between consoles (a limitation of purchasing the game on the eShop).
            </p><p>
            The next point I made was that you could lose the cartridges. If you have the Switch Lite and don’t have a case for it, this could be a real issue you could deal with. I have the switch lite and recently got rid of my case as I traded in my original switch for the lite (due to it being defective) and kept the original case. The case was too big for my switch, and I have yet to purchase a new case, so my games are on my end table in my bedroom right now. It is a real worry that I am going to lose these cases.
            </p><p>
            Following that, you have to remember that you have to physically switch them out when you want to change games and if you aren’t playing in handheld mode and are lazy, this means you have to get up, remove the cartridge and then replace the new cartridge just to play a new game. That can be annoying for people, like me, who are lazy.
            </p><p>
            Speaking of being lazy, having to wait for the mail to arrive, getting your game, or leaving the house and purchasing the game in the store can be a struggle. It can also be a struggle for people with social anxiety or PTSD. While the mail isn’t as bad as leaving the house, sometimes, it is still a struggle being patient enough to wait for the game and or your switch to arrive. I have the patience of a fly, so I can’t wait for anything. If it isn’t in a store (and I’m actually willing to go to a store), then I purchase the game digitally. No questions.
            </p><p>
            This can all seem immature to some people, but everything I pointed out (in the cons) is something that some gamers struggle with daily. I may be missing some things, and if I am, I’d love to hear about it in the comments below!
            </p><p>
            The last question, I would ask myself (and I did ask myself) before I purchased the game is:
            Do you have Nintendo Switch Online?
            While you don’t need to purchase or have Nintendo Switch Online (now referred to as NSO), it helps as you can meet people online, via Discord Servers or Reddit, and then they can travel to your island or vice versa. Even your offline/real-life friends need it if they aren’t on your same WiFi connection, also known as, with you in your house (which they shouldn’t be during the quarantine! Tisk tisk). So, if you don’t have it and or they don’t have it, then it may not be worth it for you to get the game.
            </p><p>
            Though, if you don’t have it and you want the game anyway and are looking to purchase NSO for 1 year, you would have to fork up another $19.99 USD on top of the $59.99 USD game. So that brings your total (before tax) to $79.98 USD. Knowing that, is the game still worth it to you?
            </p><p>
            I ended up purchasing the $8 USD, 3 month membership two weeks earlier for Splatoon 2 (another game I am obsessed with), so I didn’t have to spend the extra money for NSO, so that made the $59.99 USD easier to swallow.
            </p><p>
            After all, is said and done, do you recommend New Horizons?
            Yes, I recommend this game. If you have ever played Stardew Valley or The Sims and liked those games, these will be just as good. I have put close to, or over, 50 hours into the game since I purchased it 9 days ago. That’s just the beginning and nowhere near what I will be at when the hype dies down.
            </p><p>
            It is a lot of money to spend on a game so if you can get it on any kind of sale, buy it and buy it now! It would be even more worth it then. Some people are reselling the game for $35 on Craigslist and eBay… you have to really search to find those kinds of deals though.
            </p><p>
            Just make sure before you buy it, you will put in at least 60 hours into the game as that is $1/hour for the time you have played it even if you stopped at 60 hours and $1/hour is a lot better than $5 or $10 if you play it less.
            </p><p>
            The best way to make this decision is to see if one of your friends has it and let you borrow it, or watch Twitch Streamers or YouTubers play the game. If you like playing on their game and think you could really get into it, buy it! We would love to have you in the Animal Crossing Community!
            </p>
        </div>

    </div>

</main>
<%- include('../site-footer.ejs') %>
<%- include('../footer.ejs') %>