<%- include('./header.ejs') %>
<%- include('./navigation.ejs') %>
<main>
    <div class="container">
        <h1><%= item.name %></h1>
        <p class="breadcrumbs">
            <a href="/<%= category %>"><%= helpers.capitalizeFirstWord(category) %></a>
            <% if (item.subcategory) { %> &gt; <a
                    href="/<%= item.category %>/<%= item.subcategory %>"><%= helpers.capitalizeFirstWord(item.subcategory) %></a>
            <% } %>
            &gt; <%= item.name %>
        </p>


        <div class="grid grid-2" style="margin-bottom: 18pt;">

            <div class="item-view-image-container flex" data-param-type="villager" data-param-id="<%= item.id %>"><img
                        src="<%= item.image %>"
                        class="item-view {filter_class}"
                        alt="Animal Crossing New Horizons <%= item.name %> Villager Image">
                <%- include('./user-list-widget.ejs',{item:item}) %>
            </div>

            <div class="item">
                <div class="title"><span>Details about <%= item.name %></span></div>
                <div class="content">
                    Catch Phrase:
                    <blockquote style="
    display: inline-block;
    top: -2px;
    position: relative;
"><em><%= (item.catchphrase) %></em></blockquote>
                    <br/>
                    <% if (item.favoriteSaying) { %>
                        Favorite Saying:
                        <blockquote style="
    display: inline-block;
    top: -2px;
    position: relative;
"><em><%= (item.favoriteSaying) %></em></blockquote>
                        <br/>
                    <% } %>
                    Birthday: <%= (item.birthday_string) %><br/>
                    Star Sign: <a class="inline-pill"
                                  href="/villagers/sign/<%= helpers.slugify(item.zodiac) %>"><%= (item.zodiac) %></a><br/>
                    Species:  <a class="inline-pill"
                                 href="/villagers/species/<%= helpers.slugify(item.species) %>"><%= (item.species) %></a> <br/>
                    Gender: <%= (item.gender === "?" ? "Unknown" : item.gender) %> <br/>


                    Is <%= item.name %> leaving your Island? <a href="/trades/sell" class="inline-pill"
                                                                style="white-space: nowrap;">Make Sell Offer</a><br/>
                    <% if (user) { %> Want <%= item.name %> in your Island? <a href="/trades/buy/<%= item.id %>"
                                                                               class="inline-pill"
                                                                               style="white-space: nowrap;">Visit
                        Trading Post</a><br/>
                    <% } %>
                </div>
            </div>

            <div class="item">
                <div class="title"><span>Traits and Personality for <%= item.name %></span></div>
                <div class="content">
                    Hobby: <a class="inline-pill"
                              href="/villagers/hobby/<%= helpers.slugify(item.hobby) %>"><%= (item.hobby) %></a> <br/>
                    Personality:
                    <% if (item.personality === "?") { %>
                        Unknown
                    <% } else { %>
                        <a class="inline-pill"
                           href="/villagers/personality/<%= helpers.slugify(item.personality) %>"><%= (item.personality) %></a>
                    <% } %>
                    <br/>
                    Villager Style:
                    <% if (item.styles) { %>
                        <% if (item.styles[0] === "Unknown") { %>
                            Unknown <br/>
                        <% } else { %>
                            <% line = []; for (var i = 0; i < item.styles.length - ((item.styles[0] == item.styles[1]) * 1); i++) {
                                line.push('<a href="/styles/' + helpers.slugify(item.styles[i]) + '" class="inline-pill">' + helpers.capitalizeFirstWord(item.styles[i]) + "</a>");
                            } %>
                            <%- helpers.listToString(line); %> <br/>
                        <% } %>
                    <% } %>
                    Prefers Color<%= (item.colors.length - ((item.colors[0] == item.colors[1]) * 1) > 1) ? "s" : '' %>:
                    <% if (item.styles) { %>
                        <% if (item.styles[0] === "Unknown") { %>
                            Unknown <br/>
                        <% } else { %>
                            <% line = []; for (var i = 0; i < item.colors.length - ((item.colors[0] == item.colors[1]) * 1); i++) {
                                line.push('<a href="/search/' + item.colors[i] + '" class="inline-pill">' + item.colors[i] + '</a>');
                            } %>
                            <%- helpers.listToString(line); %> <br/>
                        <% } %>
                    <% } %>
                </div>
            </div>

            <div class="item full">
                <div class="title"><span><%= item.name %>'s House Exterior & Interior Furniture</span></div>
                <div class="content">

                    <% if (item.house) { %>
                        <% if (item.house.items) { %>
                            <div class="variation grid grid-6 align-end">

                                <div style="text-align:center;">
                                    <img class="house-render"
                                         src="https://acnhcdn.com/drivesync/render/houses/<%= item.filename %>_<%= item.name %>.png"
                                         alt="Animal Crossing New Horizons <%= item.name %>'s House Exterior Outside">
                                </div>
                                <% if (item.house) { %>
                                    <% if (item.house.floor) { %>

                                        <a href="<%= item.house.floor.url %>"
                                           class="variation-item">
                                            <div class="inline-image"><img
                                                        src="<%= item.house.floor.image %>"
                                                        alt="Animal Crossing New Horizons <%= item.name %>'s House <%= item.house.floor.name %> Flooring">
                                            </div>
                                            <span class="btn small-info"><%= item.house.floor.name %></span></a>
                                    <% } %>
                                    <% if (item.house.wallpaper) { %>
                                        <a href="<%= item.house.wallpaper.url %>"
                                           class="variation-item">
                                            <div class="inline-image"><img
                                                        src="<%= item.house.wallpaper.image %>"
                                                        alt="Animal Crossing New Horizons <%= item.name %>'s House <%= item.house.wallpaper.name %> Wallpaper">
                                            </div>
                                            <span class="btn small-info"><%= item.house.wallpaper.name %></span></a>
                                    <% } %>

                                    <% if (item.house.music) { %>
                                        <a href="<%= item.house.music.url %>"
                                           class="variation-item">
                                            <div class="inline-image"><img
                                                        src="<%= item.house.music.image %>"
                                                        alt="Animal Crossing New Horizons <%= item.name %>'s House <%= item.house.music.name %> Music">
                                            </div>
                                            <span class="btn small-info"><%= item.house.music.name %></span></a>
                                    <% } %>
                                <% } %>

                                <% if (item.house.items) { %>
                                    <% for(var i = 0; i < item.house.items.length; i++) { %>
                                        <% if (item.house.items[i]) { %>
                                            <a href="<%= typeof item.house.items[i] !== "undefined" ? item.house.items[i].url : "#NA" %>"
                                               class="variation-item">
                                                <div class="inline-image"><img
                                                            src="<%= item.house.items[i].image %>"
                                                            alt="Animal Crossing New Horizons <%= item.house.items[i].full_name %>">
                                                </div>
                                                <span class="btn small-info"><%= item.house.items[i].full_name %></span></a>


                                        <% } %> <% } %>
                                <% } %>
                            </div>
                        <% } %>
                    <% } else { %>

                        Information coming soon!

                    <% } %>
                </div>
            </div>

            <% if (item._learn_reactions) { %>
                <div class="item last-full">
                    <div class="title"><span>Reactions Learnable from <%= item.name %></span></div>
                    <div class="content">
                    <% if (item._learn_reactions.length !== 0 ) { %>
                        <div class="variation grid grid-4">
                            <% for(var i = 0; i < item._learn_reactions.length; i++) { %>
                                <a href="/reactions/<%= item._learn_reactions[i].id %>"
                                   class="variation-item">
                                    <div class="inline-image"><img
                                                src="<%= item._learn_reactions[i].image %>"
                                                alt="Animal Crossing New Horizons <%= item._learn_reactions[i].name %> Reaction">
                                    </div>
                                    <span class="btn small-info"><%= item._learn_reactions[i].name %></span></a>
                            <% } %>
                        </div>
                        <% } else { %>
Information coming soon!
                        <% } %>

                    </div>
                </div>
            <% } %>
        </div>

        <% if (!user) { %>
            <div style="padding-top:30px;">
                <%- include('./membership-perks.ejs') %>
            </div>
        <% } %>

    </div>
</main>
<%- include('./site-footer.ejs') %>
<%- include('./footer.ejs') %>
